<%- include('partials/header') %>
<main>
  <section class="confirmation-container">
    <h1><%= t.messages.sentTitle %></h1>
    <p><%= t.messages.sentText %></p>
    <a href="/" class="btn"><%= t.messages.backHome %></a>    
  </section>
</main>
<%- include('partials/footer') %>
