<%- include('partials/header') %>
<main>
  <section class="news-section">
    <h1><%= t.newsSection.mainTitle %></h1>

    <div class="countdown-container">
      <h2><%= t.newsSection.countdown.label %></h2>
      <div id="countdown" class="countdown"><%= t.newsSection.countdown.loading %></div>
    </div>

    <article class="news-article">
      <h3><%= t.newsSection.articles[0].title %></h3>
      <p><%= t.newsSection.articles[0].paragraph %></p>
    </article>

    <article class="news-article">
      <h3><%= t.newsSection.articles[1].title %></h3>
      <p><%= t.newsSection.articles[1].paragraph %></p>
    </article>
  </section>
</main>
<%- include('partials/footer') %>